.myMain {
  color: navy;
  padding-left: 5px;

  h1 {
    color: yellowgreen;
  }



  .colorChange {
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 3px;
    color: blue;
    margin: 10px;
    margin-bottom: 30px;
    padding: 3px 5px;

    &.green {
      background-color: lightgreen;
      border-color: green;
      color: green;
    }
  }
}


