link(rel='stylesheet' href='./components/main/main.scss')
script(async='true', src='./components/main/main.js')

main.myMain
  block content
    h1 Hey Buddy
    h2#Welcome
    p 
      | This line of test text uses the pipe '|' symbol and it starts here.
      | The pipe adds a whitespace.
      | This is line 3 in the code but just continues on in the current paragraph
    p Here I've put some html emphasis tags in: <em>this is emphasized!</em>
    p This is just written and #{'<em>is not emphasized</em>'}
    p 
      | This has 
      strong pug strong tags 
      | in.

    p 
      | Add spaces at the start and the end of the
      strong tag
      | or  it will look like this.

    p Heres a link: 
      a(href='https://pugjs.org/api/getting-started.html') Pug docs

    p
      | This button changes color on click. The javascript is localized and so is the scss.
    button.colorChange(onclick='changeColor()') Color Change

