footer {
  animation: flashing 0.5s infinite;
  font-weight: 600;
  text-align: center;
}

@keyframes flashing {
  0% { 
    color: blue;
  }
  32% {
    color: blue;
  }
  33% {
    color: red;
  }
  65% {
    color: red;
  }
  66% {
    color: green;
  }
  100% {
    color: green;
  }
}
