include components/nav/nav.pug

doctype html
html(lang="en")
  head
    include components/head/head.pug
  body
    +navigation("index")
    include pages/index.pug
  footer
    include components/footer/footer.pug

