include components/nav/nav.pug

doctype html
html(lang="en")
  head
    include components/head/head.pug
  body
    +navigation("page2")
    include pages/page2.pug
  footer
    include components/footer/footer.pug

