*, *:before, *:after { 
  margin:0; 
  padding:0; 
  border:none; 
  box-sizing:inherit; 
}

html, body {
  background-color: rgba(240, 240, 240, 0.3);
  color: rgba(1, 1, 1, 0.8);
  font-family: sans;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, p, footer {
  margin-bottom: 20px;
}

