mixin navigation(active)
  link(rel='stylesheet' href='./components/nav/nav.scss')
  nav
    ol
      li(class=(active === "index" ? "active": undefined))
        a(href="./index.pug") home
      li(class=(active === "page2" ? "active": undefined))
        a(href="./page2.pug") page 2

