nav {
  border-bottom: 1px solid blue;
  padding: 5px 5px;

  ol {
    list-style: none;
    display: inline-block;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &.active {
      background-color: blue;

      a {
        color: white;
      }
    }
  }

  a {
    color: blue;
    text-decoration: none;

    &:visited {
      color: blue;
    }
  }
}
